.cv_main{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.basic_info{
    position: relative;
    background-color: #1167b1;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
.image_cover{
    box-shadow: 20px 20px 5px #eeeeee;
    border: 2px solid black;
    display: flex;
    width: 80%;
    height: 300px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-top: 0;
    z-index: 1;
}
.image_1{
    display: flex;
    width: 250%;
    padding-bottom: 170px;
    padding-right: 170px;
    height: auto;
}
.info_main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;

}
.title{
    font-family: 'Courier New', Courier, monospace;
    color: #eeeeee;
    font-size: 40px;
    z-index: 1;
    
}
.about_me{
    margin-top: 0;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
}
.link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.5s ease, font-size 0.5s linear;
}
.link:hover{
    color:#ffa2b2;
    font-size: 25px;
}
.advance_info{
    width: 80%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center ;
    overflow: hidden;
    position: relative;
}
.name{
    color: #ffa2b2;
    margin-right: 90px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 600;
    margin-top: 40px;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}
.work{
    display: flex;
    justify-content: center;
    color:#ffa2b2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    margin-top: 10px;
}
.adv_info{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    width: 100%;
}
.small_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.first{
    width: 43%;
    display: flex;
    color: #FFC0CB;
    font-weight: 600;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    z-index: 1;
}
.second{
    width: 43%;
    display: flex;
    color:#FFC0CB;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    justify-content: right;
    z-index: 1;
}
.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: #eeeeee;
    z-index: 1;
}
.colorbar{
    width: 30px;
    height: 100%;
    position: absolute;
    background-color: #ffa2b2;
    top:0;
    z-index: 1;
    right: 0;
}
.coloredge_1{
    z-index: 3;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: #ff7188;
    position: absolute;
    top:-10%;
    right: -15%;
}
.coloredge_2{
    z-index: 2;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: #1167b1;
    position: absolute;
    top:0;
    right: 0;
}
.decor_1{
    position: absolute;
    color:rgb(225, 233, 240);
    font-size: 500px;
    z-index: 0;
    left: -10%;
    bottom: -10%;
    transform: rotate();
}
.rating{
    font-size: 20px;
    color:#eeeeee;
    position: absolute;
    z-index: 1;
}
.decor_2{
    position: absolute;
    color:rgb(225, 233, 240);
    font-size: 500px;
    z-index: 0;
    right: -20%;
    bottom: 40%;
    transform: rotate(-40deg);
}
.decor_3{
    position: absolute;
    font-size: 300px;
    transform: rotate(-30deg);
    z-index: 0;
    color: #1379d3;
}